<div id="main-page">

  <h1 style="text-decoration: underline;">Pablo Heit Workshop</h1>
  <!-- <h2>Descargar</h2> -->
  <div id="projects">
    <div id="anki-decks">
      <p class="fs-2">Anki Decks</p>
      <!-- <h3>Anki Decks</h3> -->
      <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col" *ngFor="let project of projects">
          <a href={{project.link}}>
            <div class="card h-100">
              <img src={{project.img}} class="card-img-top align-middle" alt="..." style="width:128px;height:128px;">
              <div class="card-body">
                <h5 class="card-title">{{project.name}}</h5>
                <p class="card-text">{{project.description}}</p>
                <button type="button" class="btn btn-primary">Descargar</button>
              </div>
              
              <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div> -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
    
  <router-outlet></router-outlet>
</div>
